<!DOCTYPE html>
<html lang="en">
    <%- include _head.ejs %>
    <body>
        <header>
            <% if (success_message != ""){ %>
                <div class="alert alert-success">
                    <%= success_message %>
                </div>
            <% } %>
            
            <% if (error_message != ""){ %>
                <div class="alert alert-warning">
                    <%= error_message %>
                </div>
            <% } %>
            
            <% if (error != ""){ %>
                <div class="alert alert-danger">
                    <%= error %>
                </div>
            <% } %>
            
            <% if (user){ %>
                <a href="/users/logout">Logout</a>
            <% }else{ %>
                <a href="/users/register">Register</a>
                <a href="/users/login">Login</a>
            <% } %>
            
        </header>