@import '../variables';

#login,
#signup{
    color: $white;
    margin: 0 auto;
    padding: 2em;
    border: 1px solid white;
    border-radius: 0px;
    background-color: $dark-content;
    h1{
        text-align: center;
        text-decoration: underline;
    }
    .btn-primary{
        font-size: 1.2;
        background-color: $dark-content;
    }
    
    .input-group{
        margin: 2em 0;
        input,
        &-addon{ 
        }
        &-addon{
            min-width: 25%;
            font-weight: bold;
            border: 1px solid $white;
            color: white;
            background-color: $dark-content;
        }
    }
    
    @media (min-width: $phone-width){
        width: 50%;
    }
}



