// Colors: 

/* Color pallette generated via Cooloors
 * coolors.co/03321c-aaae7f-d0d6b3-f7f7f7-efefef */
$niner-green: rgba(3, 50, 28, 1);
$sand: rgba(170, 174, 127, 1);
$beige: rgba(208, 214, 179, 1);
$pale: rgba(247, 247, 247, 1);
$bg-color: rgba(239, 239, 239, 1);
$dark-content: rgba(16,16,16, 0.75);
$white: rgba(255,255,255,1);
$black: rgba(0,0,0,1);
$link-blue: rgba(42, 93, 176, 1);
$easy-blue: rgba(80, 140, 164, 1);

// Widths:
$phone-width: 768px;