@import 'variables';

header{
    nav.navbar-inverse{
        border-radius: 0;
        
        .navbar{
            &-collapse#navbar_main{
                li > a{
                    color: $white;
                    &:hover{
                        text-shadow: 0 0 2px white;
                    }
                }
            }
            &-header{
                a,
                span{
                    color: $white;
                }
            }
            
        }
        
        @media (min-width: $phone-width){
            padding: 0 1em;
        }
    }
    
    .signed-in-as{
        margin-bottom: 0;
        &> a{
            display: inline;
            font-weight: bold;
            padding: 0;    
        }
        
        @media (max-width: $phone-width){
            padding-left: 15px;
        }
    }
}