@import 'variables';

html, body{
    background-color: $easy-blue;
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
}
.center-content{
    margin: 0 auto;
    text-align: center;
}
.alert{
    width: 80%;
    margin: 1em auto;
    text-align: center;
    font-size: 1.5em;
}

.btn{
    border-radius: 0;
    
    &-success{
        background-color: 0A8754;
        &>a{
            color: white;
        }
        
        @media (max-width: $phone-width){
            display: block;
            margin-bottom: 1em;
        }
    }
}


.jumbotron{
    width: 80%;
    margin: 0 auto;
    background-color: transparent;
    &-header{
        text-align: center;
        background-color: rgba(0, 0, 0, 0.75);
        padding: 1em;
        border: 2px solid black;
        color: white;
    }
    &-body{
        padding: 2em;
        background-color: rgba(0,0,0,0.5);
        border: 2px solid black;
        border-top: none;
        color: white;
        
        .button-center-bottom{
            margin: 0 auto;
            display: block;
            margin-top: 2em;
        }
    }
    
    p{
    }
    
    a.btn{
        display: inline-block;
        border-radius: 0;
    }
    
    &.small{
        width: 60%;
        
        p{
            text-align: center;
        }
        
        form{
            width: 50%;
            margin: 0 auto;
            text-align: center;
            
            input{
                display: table-cell;
                margin: 0 auto;
                padding-left: 5em;
                padding-bottom: 2em;
                font-size: 1.5em;
            }
            button{
                width: 50%;
            }
        }
        
        ul{
            list-style-type: none;
            li{
                font-size: 1.25em;
            }
        }
        
        @media (max-width: $phone-width){
            width: 90%;
            .jumbotron.small form button{
                width: 100%;
            }
        }
    }
    
    @media (max-width: $phone-width){
        width: 90%;
    }
}

@media (min-width: $phone-width){
    .alert{
        width: 50%;
    }
}

#all_files{
    padding: 0;
}