<%- include partials/_header.ejs %>
        
        <main>            
            <div id="not_found">
                <h1>404:</h1>
                <p>The page you were looking for can't be found. Use the button below to go back to the home page.</p>
                <button class="btn btn-primary btn-lg"><a href="/">Return to Home</a></button>
            </div>
        </main>
        
<%- include partials/_footer.ejs %>