<%- include partials/_header.ejs %>
        
        <main>            
            <div id="temporary">
                <h2>Hi-Fi Prototype</h2>
                <ul>
                    <li>Currently completed
                        <ul>
                            <li>User Registration & Login</li>
                            <li>Route guarding & Authentication [redirect]</li>
                            <li>User password encryption & decryption</li>
                            <li>File upload & DB Storage [Hex]</li>
                            <li>File download</li>
                            <li>Mobile responsivity</li>
                            <li>Flash messages</li>
                        </ul>
                    </li>
                    <li>To be completed
                        <ul>
                            <li>File encryption (similar to user PW encryption)</li>
                            <li>One-Time links / File downloads</li>
                            <li>Style polishing</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </main>
        
<%- include partials/_footer.ejs %>