<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Test Page</title>
    </head>
    <body>
        <header>
            
        </header>
        
        <main>
            <h1>Files file page</h1>
           
                <p>Value: <%= fileId %></p>
            
        </main>
        
        <footer>
            
        </footer>
    </body>
</html>