<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Test Page</title>
    </head>
    <body>
        <header>

        </header>

        <main>
          <h1>User Signup Page</h1>

          <div id="signup">
      			<form  action="">
      				<h1>Sign Up</h1>
      				<p>
      					<label for="username">Email Address</label>
      					<input id="username" name="username" required="required" type="text" placeholder="Username"/>
      				</p>
      				<p>
      					<label for="password">Your password</label>
      					<input id="password" name="password" required="required" type="password" placeholder="Password"/>
      				</p>
    					<input type="submit" value="Sign Up" />
      			</form>
	          </div>
        </main>

        <footer>

        </footer>
    </body>
</html>
