<%- include ../partials/_header.ejs %>
        
        <main>
            <h1>User accounts page</h1>
            
            <p>TODO: List user account information</p>
        </main>
        
<%- include ../partials/_footer.ejs %>