<%- include ../partials/_header.ejs %>
        
        <main>
            <h1>Files file page</h1>
            <p> TODO: Dispaly information about a single file</p>
        </main>
        
 <%- include ../partials/_footer.ejs %>