<%- include ../partials/_header.ejs %>
        
        <main>
            
            <ul id="file_data">
                <li class="name">Name: <%= file_info.name %></li>
                <li class="data">Data: <%= file_info.data %></li>
            </ul>
        </main>
        
 <%- include ../partials/_footer.ejs %>