<%- include ../partials/_header.ejs %>
        
        <main>
            <h1>Files Transfer Page</h1>
           
                <p>Value: <%= fileId %></p>
           
        </main>
        
 <%- include ../partials/_footer.ejs %>