<%- include ../partials/_header.ejs %>
        
        <main>
            <h1>Files Transfer Page</h1>
            <p> TODO: Display information needed to transfer a file</p>           
        </main>
        
 <%- include ../partials/_footer.ejs %>